spring:
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5432/pokemondb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/common
      - classpath:db/migration/test_data

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-tags-as-default: true